@font-face {
	src: url("../fonts/SF-UI-Display-Bold.otf");
	font-family: "SF Display bold";
  	font-weight: 700;
}
@font-face {
  font-family: "SF Display light";
  font-weight: 200;
  src: url("../fonts/SF-UI-Display-Light.otf");
}
@font-face {
  font-family: "SF Display medium";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Display thin";
  font-weight: 300;
  src: url("../fonts/SF-UI-Display-Thin.otf");
}

.text-right{
	text-align: right;
}
.position-relative{
	position: relative;
}
.divdoselect{
	display:none;
}

/*HEADER*/
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
header{
	background: url('../img/bg-top.jpg');
	background-size: cover;
	background-position: top right;
    height: 260px;
	width: 100%; 
}
header div.container{
	position: relative;
}
header h1{
	color: #fff;
	font-size: 50px;
    padding-top: 12%;
    font-family: "SF Display bold";
}
img.logo-vogel {
    width: 75%;
    margin-top: 20%;
}
header figure img{
	width: 100%;
}

/*DESTAQUE*/
section.destaque{
	margin-top: -167px;
}
figure.img-destaque img {
    width: 100%;
}

/*SOMOS VOGEL*/
.title-vogel{
	font-size: 80px;
	font-family: "SF Display bold";
}
figure.detalhe-title {
    position: absolute;
    left: -375px;
}
.text-description{
    font-family: "SF Display light";
    font-size: 25px;
    line-height: 1.5;
    margin-top: 100px;
}
figure.detalhe-pontilhados{
	position: absolute;
	right: -140px;
	margin-top: 10px;
}

/*PROMOCOES*/
.promocoes{
    margin-top: 50px;
}
.pessoas-reuniao{
	width: 100%;
}
h2.internet-corporativa {
    font-size: 65px;
    width: 70%;
    font-family: "SF Display bold";
}
.descricao-internet-corporativa{
	font-family: "SF Display light";
	font-size: 40px;
	padding-top: 15px;
	line-height: 1;
	margin-bottom: 50px;
}
.quadro-esquerdo{
	width: 230px;
	float: left;
}
.quadro-direita{
    float: left;
    margin-left: 35px;
    width: 290px;
}
.quadro-velocidade{
	border: 1px solid #7cce3f;
	text-align: center;
	font-family: "SF Display bold";
    margin-bottom: 40px;
}
.titulo-velocidade{
	background: #7cce3f;
}
.titulo-velocidade span{
	font-size: 60px
}
.valor{
	font-family: "SF Display medium";
	font-size: 30px;
}
.titulo-direita{
	font-family: "SF Display medium";
	font-size: 18px;
}
select#cidade {
    width: 160px;
    height: 35px;
    border: 1px solid #7cce3f;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.descricao-direita{
    font-family: "SF Display thin";
    width: 220px;
    line-height: 1.5;
    font-size: 17px;
    margin-top: 33px;
}
p.descricao-direita span{
	font-family: "SF Display medium";
}
.aviso-importante{
	border: 1px solid #7cce3f;
	text-align: center;
    width: 225px;
    margin-top: 45px;
}
.aviso-importante p{
	font-size: 18px;
}
.aviso-importante .codigo-promocional{
	font-size: 18px;
	color: #fff;
	background: #7cce3f;
	font-size: 25px;
}
.aviso-importante p span{
	color: #7cce3f;
	text-transform: uppercase;
	display: block;
    font-size: 20px;
    font-family: "SF Display medium";
    padding-top: 4px;
}
.pontilhados-pequeno{
	width: 120px;
	float: left; 
    margin-top: 30px;
}
.pontilhados-pequeno img{
	width: 100%;
}
.informativo-solucoes {
    font-family: "SF Display medium";
    font-size: 25px;
    float: left;
    width: 315px;
    margin-left: 20px;
    padding-top: 20px;
}
.btn-contrate {
    color: #fff;
    background: #7cce3f;
    font-family: "SF Display bold";
    width: 200px;
    float: left;
    text-align: center;
    margin-left: 140px;
    font-size: 22px;
    padding: 5px 0;
    margin-top: 10px;
    cursor: pointer;
}
.info-internet{
    float: left;
    margin-top: 20px;
}
.info-internet p {
    margin-bottom: 2px;
}
/*FOOTER*/
footer{
    margin-top: 20px;
}
.infos-footer{
	margin-top: 85px;	
}
.infos-footer a{
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
span.icons-footer {
    margin-left: 30px;
    font-size: 18px;
    color: #fff;
    background: #000;
    padding: 4px 9px;
    border-radius: 50%;
}
figure.barra-footer img {
    width: 100%;
    margin: 10px 0;
}
.termos-footer{
	font-size: 8px;
	font-family: "SF Display medium";
}
.pontilhado-conteudo{
    width: 300px;
}

/*MOBILE*/
@media (max-width: 1999px){
    .quadro-direita {
        float: left;
        margin-left: 15px;
        width: 200px;
    }
}

@media (max-width: 991px){
    header h1 {
        font-size: 30px;
        padding-top: 20%;
        padding-bottom: 85px;
    }
    img.logo-vogel {
        width: 50%;
        margin-top: -64%;
    }
    figure.text-right {
        text-align: center;
    }
    .margin-top30{
        margin-top: 30px;
    }
    figure.img-destaque {
        margin-top: 50px;
    }
    .title-vogel {
        font-size: 40px;
    }
    .text-description {
        font-size: 20px;
        margin-top: 80px;
    }
    .pessoas-reuniao {
        width: 100%;
        margin-left: -15px;
    }
    .informativo-solucoes {
        font-family: "SF Display medium";
        font-size: 20px;
        float: left;
        width: 100%;
        margin-left: 0px;
        padding-top: 0px;
    }
    .btn-contrate {
        width: 100%;
        float: left;
        text-align: center;
        font-size: 22px;
        padding: 5px 0;
        margin-top: 15px;
        margin-left: 0;
    }
    h2.internet-corporativa {
        font-size: 35px;
        width: 100%;
        font-family: "SF Display bold";
    }
    .descricao-internet-corporativa {
        font-family: "SF Display light";
        font-size: 23px;
        padding-top: 15px;
        line-height: 1;
        margin-bottom: 50px;
    }
    .quadro-direita{
        margin-left: 0;
        width: 50%;
        padding-left: 15px;
    }
    .aviso-importante {
        width: 100%!important;
        border: 1px solid #7cce3f;
        text-align: center;
        margin-top: 17px;
    }
    .quadro-esquerdo {
        width: 50%!important;
    }
    .promocoes {
        margin-top: 0;
    }
}

@media (max-width: 767px){
    header h1 {
        font-size: 30px;
        padding-top: 24%;
        padding-bottom: 45px;
    }
    img.logo-vogel {
        width: 50%;
        margin-top: -94%;
    }
    figure.text-right {
        text-align: center;
    }
    .margin-top30{
        margin-top: 30px;
    }
    figure.img-destaque {
        margin-top: 50px;
    }
    .title-vogel {
        font-size: 40px;
    }
    .text-description {
        font-size: 20px;
        margin-top: 80px;
    }
    .pessoas-reuniao {
        width: 100%;
        margin-left: -15px;
    }
    .informativo-solucoes {
        font-family: "SF Display medium";
        font-size: 20px;
        float: left;
        width: 100%;
        margin-left: 0px;
        padding-top: 30px;
    }
    .btn-contrate {
        width: 100%;
        float: left;
        text-align: center;
        font-size: 22px;
        padding: 5px 0;
        margin-top: 15px;
        margin-left: 0;
    }
    h2.internet-corporativa {
        font-size: 35px;
        width: 100%;
        font-family: "SF Display bold";
    }
    .descricao-internet-corporativa {
        font-family: "SF Display light";
        font-size: 23px;
        padding-top: 15px;
        line-height: 1;
        margin-bottom: 50px;
    }
    .quadro-direita{
        margin-left: 0;
        width: 100%;
    }
    .aviso-importante {
        width: 100%!important;
    }
    .quadro-esquerdo {
        width: 100%!important;
    }
    .promocoes {
        margin-top: 0;
    }
}
@media (max-width: 365px){
    header h1 {
        font-size: 30px!important;
        padding-top: 32%!important;
        padding-bottom: 6px;
    }
}


/*DESKTOP*/
@media (min-width: 992px){
    div#linkContratar.btn-contrate.mobile {
        display: none!important;
    }
}