@font-face {
	src: url("../fonts/SF-UI-Display-Bold.otf");
	font-family: "SF Display bold";
  	font-weight: 700;
}
@font-face {
  font-family: "SF Display light";
  font-weight: 200;
  src: url("../fonts/SF-UI-Display-Light.otf");
}
@font-face {
  font-family: "SF Display medium";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Display thin";
  font-weight: 300;
  src: url("../fonts/SF-UI-Display-Thin.otf");
}

.text-right{
	text-align: right;
}
.position-relative{
	position: relative;
}

/*HEADER*/
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
header{
	background: url('../img/bg-top.jpg');
	background-size: cover;
	background-position: top right;
	height: 433px;
	width: 100%; 
}
header div.container{
	position: relative;
}
header h1{
	color: #fff;
	font-size: 50px;
    padding-top: 12%;
    font-family: "SF Display bold";
}
img.logo-vogel {
    width: 75%;
    margin-top: 22%;
}
header figure img{
	width: 100%;
}

/*DESTAQUE*/
section.destaque{
	margin-top: -167px;
}
figure.img-destaque img {
    width: 100%;
}

/*SOMOS VOGEL*/
.title-vogel{
	font-size: 120px;
	font-family: "SF Display bold";
}
figure.detalhe-title {
    position: absolute;
    left: -145px;
}
.text-description{
    width: 47%;
    font-family: "SF Display light";
    font-size: 35px;
    line-height: 1.5;
    margin-top: -100px;
}
figure.detalhe-pontilhados{
	position: absolute;
	right: -140px;
	margin-top: 10px;
}

/*PROMOCOES*/
.pessoas-reuniao{
	width: 100%;
    margin-left: -15px;
}
h2.internet-corporativa {
    font-size: 80px;
    width: 70%;
    font-family: "SF Display bold";
}
.descricao-internet-corporativa{
	font-family: "SF Display light";
	font-size: 40px;
	padding-top: 15px
}
.quadro-esquerdo{
	width: 230px;
	float: left;
}
.quadro-direita{
    float: left;
    margin-left: 35px;
    width: 300px;
}
.quadro-velocidade{
	border: 1px solid #7cce3f;
	text-align: center;
	font-family: "SF Display bold";
    margin-bottom: 40px;
}
.titulo-velocidade{
	background: #7cce3f;
}
.titulo-velocidade span{
	font-size: 60px
}
.valor{
	font-family: "SF Display medium";
	font-size: 30px;
}
.titulo-direita{
	font-family: "SF Display medium";
	font-size: 18px;
}
select#cidade {
    width: 160px;
    height: 35px;
}
.descricao-direita{
    font-family: "SF Display thin";
    width: 220px;
    line-height: 1.5;
    font-size: 17px;
    margin-top: 10px;
}
p.descricao-direita span{
	font-family: "SF Display medium";
}
.aviso-importante{
	border: 1px solid #7cce3f;
	text-align: center;
    width: 225px;
    margin-top: 45px;
}
.aviso-importante p{
	font-size: 18px;
}
.aviso-importante .codigo-promocional{
	font-size: 18px;
	color: #fff;
	background: #7cce3f;
	font-size: 25px;
}
.aviso-importante p span{
	color: #7cce3f;
	text-transform: uppercase;
	display: block;
    font-size: 20px;
    font-family: "SF Display medium";
}
.pontilhados-pequeno{
	width: 120px;
	float: left; 
}
.pontilhados-pequeno img{
	width: 100%;
	padding-top: 40px;
}
.informativo-solucoes{
    font-family: "SF Display medium";
    font-size: 30px;
    float: left;
    width: 510px;
    margin-left: 65px;
    padding-top: 25px;
}
.btn-contrate{
	color: #fff;
    background: #7cce3f;
    font-family: "SF Display bold";
    width: 200px;
    float: left;
    text-align: center;
    margin-left: 65px;
    font-size: 22px;
    padding: 5px 0;
    margin-top: 15px;
}
/*FOOTER*/
footer{
	margin-top: 50px;
}
.infos-footer{
	margin-top: 85px;	
}
.infos-footer a{
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
span.icons-footer {
    margin-left: 30px;
    font-size: 18px;
    color: #fff;
    background: #000;
    padding: 4px 9px;
    border-radius: 50%;
}
figure.barra-footer img {
    width: 100%;
    margin: 10px 0;
}
.termos-footer{
	font-size: 8px;
	font-family: "SF Display medium";
}
